:root {
  // Шрифт
  --font: var(--font-weight) var(--font-size) / var(--font-line-height) var(--font-family);
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: 300;
  --font-line-height: 1.5;
  --font-base-color: #e3e3e3;

  // Цвета
  --bg-color: #1e1f22;
  --bg-accent-color: #2b2d30;
  --stroke-color: #1e1f22;
}
