:root {
  // Шрифт
  --font: var(--font-weight) var(--font-size) / var(--font-line-height) var(--font-family);
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: 300;
  --font-line-height: 1.5;

  // Размеры
  --titlebar-height: 40px;
  --sidebar-width: 40px;
  --page-min-width: 1160px;
  --page-max-width: 1900px;
}

:root[data-theme='dark'] {
  // Шрифт
  --font-base-color: #e3e3e3;

  // Цвета
  --bg-color: #1e1f22;
  --bg-accent-color: #2b2d30;
  --stroke-color: #1e1f22;
}

:root[data-theme='light'] {
  // Шрифт
  --font-base-color: #2b2e48;

  // Цвета
  --bg-color: #fff;
  --bg-accent-color: #f7f8fa;
  --stroke-color: #ebecf0;
}
